*,*:before,*:after{
  box-sizing:inherit
}

html{
  box-sizing:border-box;
  overflow-x:hidden;
}


h1,h2,h3,h4,h5,h6{
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;
  margin:10px 0
}

body{
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
}

html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

footer {
  left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
  color: #fff;
  background-color: #419488
}

a{
  text-decoration:none;
  color:inherit;
  cursor:pointer;
}
img{
  border-style:none;
  vertical-align:middle;
  max-width:100%;
  height:auto
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
  border:0;
  border-top:1px solid #eee;margin:
  20px 0;
}

button{
  font:inherit;
  margin:0;
  overflow:visible;
  text-transform:none
}

.item{
  border:none;
  display:inline-block;
  padding:8px 16px;
  background-color:inherit;
  text-align:center;  
  white-space:nowrap;
  width:100%;
  text-align:left;
  bottom:0
}

.item:hover{
  color:#000;
}

.bar {
  padding:8px 16px;
}

.bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
  text-align:center
}

.top{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  left: 0;
  color: #fff;
  background-color: #419488;
}

.bar-block
.bar-item{
  width:100%;
  display:
  block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;outline:0
}

.right{
  float:right!important
}

.center{
  text-align:center
}

.row{
  padding-top:64px!important;padding-bottom:64px!important
}

.col{
  float:left;width:100%;
  padding:12px 24px!important
}


.row:after{content:"";
  display:table;
  clear:both
}

@media (min-width:601px){
.col{
  width:49.99999%;
}
}

@media (min-width:993px){
.content{
  margin-left:auto;
  margin-right:auto;
  max-width:980px;
}

}












